<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Home Page</title>
</head>
<body>
<section class="container">
    <div>
        <h1>Spring login form and OAuth2 tutorial</h1>
        <h2>Сервис заметок</h2>
    </div>
    <div>
        <ul>
            <li><a href="/registration">Регистрация</a></li>
            <li><a href="/login">Вход</a></li>
        </ul>
    </div>
</section>
</body>
</html>