<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common-parts :: common-head"/>

<title>Shopping Cart</title>

<body>
<header th:replace="common/common-parts :: common-header"/>

<div class="px-4 px-lg-0">
    <!-- For demo purpose -->
    <div class="container text-white py-5 text-center">
        <h1 class="display-4">Dimaty26 store shopping cart</h1>
    </div>
    <!-- End -->

    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase">Product</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Price</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Quantity</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Remove</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <!--Display products in the cart-->
                            <div th:switch="${products}">
                                <tr th:case="null">
                                    <th scope="row" class="border-0">
                                        <h5 class="mb-0">No Products in the cart!</h5>
                                        <h5 class="mb-0"><a href="#" class="text-blue d-inline-block align-middle">
                                            Continue Shopping
                                        </a></h5>
                                    </th>
                                </tr>

                                <div th:case="*">
                                    <div class="row" th:each="cartItem : ${cartItemList}">
                                        <form th:action="@{/shoppingCart/updateCartItem}" method="post">
                                            <tr>
                                                <th scope="row" class="border-0">
                                                    <div class="p-2">

                                                        <!-- Image -->
                                                        <a th:href="@{productDetail(id=${cartItem.product.id})}">
                                                            <img class="img-responsive shelf-product" th:src="#{adminPath}+@{/image/product/}+
                                                                ${cartItem.book.id}+'.png'"
                                                                 width="70"/>
                                                        </a>

                                                        <!-- Name of the Product -->
                                                        <div class="ml-3 d-inline-block align-middle">
                                                            <h5 class="mb-0">
                                                                <span class="text-dark d-inline-block align-middle"
                                                                      th:text="${cartItem.product.name}"></span>
                                                            </h5>
                                                            <span class="text-muted font-weight-normal font-italic d-block"
                                                                  th:text="${cartItem.product.category}"></span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td class="border-0 align-middle">
                                                    <strong>$<span th:text="${cartItem.product.price}"></span>
                                                    </strong>
                                                </td>
                                                <td class="border-0 align-middle">
                                                    <strong><span th:text="${cartItem.product.quantity}"></span>
                                                    </strong>
                                                </td>
                                                <td class="border-0 align-middle"><a href="#" class="text-dark"><i
                                                        class="fa fa-trash"></i></a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="p-2">
                                                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-3_cexmhn.jpg"
                                                             alt="" width="70" class="img-fluid rounded shadow-sm">
                                                        <div class="ml-3 d-inline-block align-middle">
                                                            <h5 class="mb-0"><a href="#"
                                                                                class="text-dark d-inline-block">Lumix
                                                                camera lense</a></h5><span
                                                                class="text-muted font-weight-normal font-italic">Category: Electronics</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td class="align-middle"><strong>$79.00</strong></td>
                                                <td class="align-middle"><strong>3</strong></td>
                                                <td class="align-middle"><a href="#" class="text-dark"><i
                                                        class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="p-2">
                                                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-2_qxjis2.jpg"
                                                             alt="" width="70" class="img-fluid rounded shadow-sm">
                                                        <div class="ml-3 d-inline-block align-middle">
                                                            <h5 class="mb-0"><a href="#"
                                                                                class="text-dark d-inline-block">Gray
                                                                Nike running shoe</a></h5><span
                                                                class="text-muted font-weight-normal font-italic">Category: Fashion</span>
                                                        </div>
                                                    </div>
                                                <td class="align-middle"><strong>$79.00</strong></td>
                                                <td class="align-middle"><strong>3</strong></td>
                                                <td class="align-middle"><a href="#" class="text-dark"><i
                                                        class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                    </div>
                                </div>
                                </form>
                            </div>

                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>

            <div class="row py-5 p-4 bg-white rounded shadow-sm">
                <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                        <div class="input-group mb-4 border rounded-pill p-2">
                            <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3"
                                   class="form-control border-0">
                            <div class="input-group-append border-0">
                                <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i
                                        class="fa fa-gift mr-2"></i>Apply coupon
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for
                        seller
                    </div>
                    <div class="p-4">
                        <p class="font-italic mb-4">If you have some information for the seller you can leave them in
                            the box below</p>
                        <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you
                            have entered.</p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order
                                Subtotal </strong><strong>$390.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping
                                and handling</strong><strong>$10.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Tax</strong><strong>$0.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                                <h5 class="font-weight-bold">$400.00</h5>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="common/common-parts :: common-scripts"></div>
</body>
</html>